// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;900;600&display=swap');

$deepBlue: #2a324b;
$lightBlue: #58699d;
$lightGrey: #e1e5ee;
$white: #fff;

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
  background-color: $lightGrey;
  box-sizing: border-box; // Ensure padding and border are included in width

  #menu, #article-box {
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box; // Ensure padding and border are included in width
  }

  #menu {
    display: flex;
    justify-content: space-between;
    gap: 1%;

    button {
      all: unset;
      background-color: $deepBlue;
      color: $white;
      padding: 2em 1em;
      font-family: 'Montserrat', sans-serif;
      font-weight: 900;
      font-size: 1em;
      text-align: center;
      flex: 1 1 auto;

      &.active {
        color: $deepBlue;
        background-color: $white;
      }
    }
  }

  #article-box {
    padding: 5rem;
    background-color: $white;
    box-sizing: border-box; // Ensure padding is included
  }

  #content, #links {
    margin: 0;

    h2 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 900;
      font-size: 25px;
      color: $deepBlue;
      padding-bottom: 1rem;
    }

    p {
      font-family: 'Montserrat', sans-serif;
    }
  }

  #links a {
    color: $lightBlue;
  }
}



@media (max-width: 640px) {
  body {
    margin-top: 2rem; // Further reduce top margin for very small screens
  }

  #menu {
    flex-direction: column;
    width: 100%;
    margin: 0;

    button {
      padding: 1em; // Adjust button padding for smaller screens
      width: 100%;
      margin: 0;
      border-bottom: solid 1px $white;
    }
  }

  #article-box {
    padding: 1rem; // Adjust article box padding for consistency on small screens
  }

  #content {
    padding: 0; // Adjust content padding if needed
  }
}
